.container-fluid{
    margin-top: -10px;
    background-color: blue;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF80;    
}

.navbar-brand{
    margin-left: 55px;
       
}

.nav-link{
    text-decoration: none;
}


.card-title{
    font-family: 'Roboto', sans-serif;
    font-size: 20pt;
    font-weight: 300;
    color:#212529 ;
}

.card-text{
    font-family: 'roboto', sans-serif;
    font-size: 16pt;
    color: #707070;
    font-weight: 300;
}

.precio{
    font-family: 'roboto', sans-serif;
    margin-right: 10px;
    text-align: right;   
}

.precio .none{
    color: #707070;
    text-decoration: line-through;
    font-size: 16pt;
    font-weight: 300;  
}

.precio .card-link{
    color: blue;
    text-decoration: none;
    font-size: 21pt;
    font-weight: 500;    
}

.direction{
    font-family:'Roboto', sans-serif;
    font-size: 13pt;
    color: #707070;
    font-weight: 300;
}

.contacto{
  background-color: blue;
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 21pt;
  margin-top: 30px;
  padding-top: 25px;
 
}

.footer{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16pt;
}

